# Configuracion para conectar TrackFit a MySQL
TRACKFIT_DB_ENGINE=mysql
TRACKFIT_MYSQL_HOST=127.0.0.1
TRACKFIT_MYSQL_PORT=3306
TRACKFIT_MYSQL_USER=trackfit_user
TRACKFIT_MYSQL_PASSWORD=trackfit_password
TRACKFIT_MYSQL_DATABASE=trackfit
